.product {
    position: relative;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: $white;
    padding: 24px 24px 40px;
    @include flex(column, space-between, center);
    &-image {
        margin-bottom: 24px;
        padding: 0 20px;
        flex: 1;
    }
    &-content {
        @include flex(column, space-between, center);
        flex: 2;
    }
    &-category {
        @include flex(column, flex-start, center);
        position: absolute;
        top: 24px;
        left: 24px;
    }
    h3 {
        text-align: center;
        margin-bottom: 16px;
        text-transform: uppercase;
    }
    &-desc {
        text-align: left;
        margin-bottom: 42px;
    }
    &-price {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 800;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: right;
        color: $orange;
    }
    &-bottom {
        @include flex(row, space-between, center);
        width: 100%;
    }
    &-order {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate3d(-50%, 20%, 0);
        @include flex(row, center, center);
        font-family: inherit;
        // display: none;
        font-size: 16px;
        opacity: 0;
        transition: transform .5s linear;
        i {
            margin-left: 10px;
        }
    }
    &:hover {
        box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.12);
        .product-order {
            transform: translate3d(-50%, 50%, 0);
            opacity: 1;
            // display: flex;
        }
    }
}